<footer class="w-full bg-black pb-4 pt-8 flex flex-col items-center gap-4">
    <div class="flex gap-4">
        <a href="https://github.com/lucasamds" target="_blank">
            <i class="fa-brands fa-square-github text-white text-3xl"></i>
        </a>
        <a href="https://www.linkedin.com/in/lucas-silva-322a42211/" target="_blank">
            <i class="fa-brands fa-linkedin text-white text-3xl"></i>
        </a>
        <a href="mailto:lucsamds@gmail.com" target="_blank">
            <i class="fa-regular fa-envelope text-white text-3xl"></i>
        </a>
    </div>
    <span class="text-white font-light text-sm\">Designed By: Lucas Silva</span>
</footer>
