<header class="w-full h-20 px-3 bg-yellow-400">
    <div class="h-20 w-full flex items-center justify-between max-w-[1200px] m-auto">
        <div class="flex items-center gap-2">
            <a routerLink="home">
                <img src="../../../assets/logo.png" alt="Logo" class="w-10 rounded-md hover:scale-110 duration-300">
            </a>
            <span class="hidden md:inline-block text-slate-800 font-semibold">All your movies in one place</span>
        </div>
        <div>
            <a routerLink="watchlist" class="flex text-slate-100 items-center gap-2 bg-darkred rounded-md px-4 py-2 hover:bg-red-800 duration-300">
                <i class="fa-regular fa-rectangle-list" style="font-size: 18px;"></i>
                <span class="font-semibold">My watchlist</span>
            </a>
        </div>
    </div>
</header>