<main class="bg-dark w-full max-w-[1400px] mx-auto">
    <!--Carousel-->
    <section class="w-full mx-auto max-w-[1300px] ">
        <p-carousel [value]="movies" [numVisible]="1" [numScroll]="1" class="mycarousel" 
                    [circular]="true" [autoplayInterval]="5000" 
                    >
            <ng-template let-movie pTemplate="item">
                <a routerLink="/details/{{movie.id}}">
                    <img src="../../../assets/carousel/{{movie.carousel}}.jpg" alt="{{movie.title}}"
                    class="mx-auto">
                </a>
            </ng-template>
        </p-carousel>
    </section>

    <!--Movie List-->
    <section class="w-full flex flex-col gap-2 mt-4 px-2 pb-6 max-w-[1300px] mx-auto">
        <div class="flex items-center">        
                <h2 class="font-bold text-md md:text-xl text-slate-100">MOST WATCHED</h2>              
                <p-dropdown [options]="dropdown_opt" [autoDisplayFirst]="true" 
                            [(ngModel)]="dropdown_val" (onChange)="sortMovies()"
                            class="ml-4"></p-dropdown>                
        </div>

        <div class="w-full grid grid-cols-1 lg:grid-cols-2 gap-10 mt-10">
            <div *ngFor="let movie of movies; let i = index" class="w-full flex flex-col md:flex-row items-center justify-between gap-5">
                <a routerLink="/details/{{movie.id}}" class="inline-block w-64 h-80 border-2 border-black hover:scale-95 hover:shadow-md hover:shadow-white 
                duration-200 bg-origin-border bg-cover bg-no-repeat"
                style="background-image: url('../../../assets/thumbnails/{{movie.img}}.png' );">
                    <div class="w-full flex justify-between" *ngIf="watchlist.includes(movie.id)">
                        <i class="pl-2 fa-solid fa-bookmark text-amber-400 opacity-75" style="font-size: 24px;"></i>
                        <span class="mr-4 font-semibold px-2 bg-amber-400/75 rounded-b-md">On my Watchlist</span>
                    </div>                    
                </a>
                
                <div class=" flex flex-col gap-3 self-start h-full">
                    <a routerLink="/details/{{movie.id}}" class="">
                        <h3 class="font-bold text-2xl inline-block text-amber-400 border-b-transparent border-b-[1.5px] self-start hover:border-amber-400 duration-200">
                            {{movie.title}}
                        </h3>
                    </a>
                    <div class="flex gap-3 items-center">
                        <p-rating [readonly]="true" [cancel]="false" [(ngModel)]="ratings_stars[i]" ></p-rating>
                        <span class="text-white">{{movie.rating}}</span>
                        <div class="ml-4">
                            <p-button *ngIf="watchlist.includes(movie.id); else elseblock" 
                            icon='fa-solid fa-bookmark' (onClick)="removeWatch(movie.id)"></p-button>
                            <ng-template #elseblock>
                                <p-button icon='fa-regular fa-bookmark' (onClick)="addWatch(movie.id)"></p-button>
                            </ng-template>
                        </div>

                    </div>                    
                    <p class="text-white max-w-md text-justify">{{movie.description}}</p>
                    <div class="flex flex-col gap-2 md:h-full md:justify-end">
                        <span class="text-amber-400 font-thin text-sm">{{movie.release_date.substring(0,4)}} - {{movie.duration}}</span>
                        <div class="flex">
                            <div *ngFor="let genre of movie.genre; let j = index" class="text-amber-400 font-thin text-sm">
                                <span *ngIf="j == 0">{{genre}} </span>
                                <span *ngIf="j != 0" class="pl-1"> - {{genre}}</span>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>